.Body-tickets{
    max-width: 100%;
    height: auto;
    font-family:  "Poppins", sans-serif;


}
.img-backgraund-tickets{
    background-image: url(../../multimedia/tickets.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    max-height: auto;
    padding-block-start: 55%;
    
}
.box-blue{
    background-color:#031C54 ;
    width:60%;
    color: #EFB810;
    font-size: 400%;
}
.box-blue h1{
    padding-inline-start: 5%;
}
.backgraund-color-white{
    background-color: white;
    padding: 2%;

}
.nav-items{
    margin: 1%;
    padding: 1%;
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.nav-items i{
    width: 20%;
    padding-inline: 1%;
    margin: 0;
    font-size: 200%;
    color:#0D5D97 ;
}
.box-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    max-height: auto;
    padding: 1%;
    border: solid 1px black;

}
.lateral-nav{
    display: flex;
    flex-direction: column;
    padding: 50%;
    width: 100%;
    margin-inline: 50% ;

}
.tags{
    border-bottom: solid 1px black;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-inline: 10%;
    
}
.tags p{
    font-size: 150%;
}
.list-buy{
    border-bottom: solid 1px black;
    width: max-content;
    padding: 1%;
    padding-inline: 4%;

}
.box-grid{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: repeat(1fr);
    padding-inline: 15%;
}